doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        title= title
        link(rel='stylesheet', href='https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-typography,o-forms@^5.7.3,o-grid@^4.4.1,o-fonts@^3.0.4,o-teaser@^2.2.10,o-buttons@^5.13.1')
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body

        block content
