html {
    font-family: FinancierDisplayWeb, sans-serif;
}

body {
    background-color: #FFF1E5;
}

input {
    font-size: 18px;
}

.home-link, .home-link:hover, .home-link:visited {
    color: inherit;
    text-decoration:none
}

.o-typography-headline--large {
    font-family: MetricWeb, serif;
}

.o-forms__label {
    font-size: calc(22px + 0.5vmax);
}

.o-forms__additional-info {
    font-size: calc(18px + 0.5vmax);
    line-height: normal;
}

.o-buttons-icon--arrow-right {
    margin-left: 20px;
}

.results-display {
    margin-left: 20px;
}


li, .result-link {
    font-size: calc(22px + 0.5vmax);
    list-style-image: url('/images/ftlogo-v1_brand-ft-logo-square-coloured.svg');
}


