html {
    font-family: FinancierDisplayWeb, sans-serif;
}

body {
    background-color: #FFF1E5;
}

.o-typography-headline--large {
    font-family: MetricWeb, serif;
}

.result-link {
    font-size: 16px;
}

li {
    font-size: 19px;
    list-style-image: url('/images/ftlogo-v1_brand-ft-logo-square-coloured.svg');
}


