doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-typography,o-forms@^5.7.3,o-grid@^4.4.1,o-fonts@^3.0.4')
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        block content